ClienteControlDeCalidad_v2.1/ConexionWeb/Connected Services/ConexionWebService/ControlDeCalidadServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs.Enumeraciones" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs.Enumeraciones" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClaseUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaseUsuarioId" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaseUsuarioDTO" nillable="true" type="tns:ClaseUsuarioDTO" />
  <xs:complexType name="EstadoDeUsoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoDeUsoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoDeUsoDTO" nillable="true" type="tns:EstadoDeUsoDTO" />
  <xs:complexType name="CategoriaDefectoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoriaDefectoId" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriaDefectoDTO" nillable="true" type="tns:CategoriaDefectoDTO" />
  <xs:complexType name="EstadoOPDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoOPId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoOPDTO" nillable="true" type="tns:EstadoOPDTO" />
  <xs:complexType name="PieDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PieId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PieDTO" nillable="true" type="tns:PieDTO" />
  <xs:complexType name="ClaseIncidenciaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClaseIncidenciaId" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaseIncidenciaDTO" nillable="true" type="tns:ClaseIncidenciaDTO" />
  <xs:complexType name="EstadoDeLineaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoDeLineaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoDeLineaDTO" nillable="true" type="tns:EstadoDeLineaDTO" />
  <xs:complexType name="EstadoSemaforoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoSemaforoId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EstadoSemaforoDTO" nillable="true" type="tns:EstadoSemaforoDTO" />
</xs:schema>