ClienteControlDeCalidad_v2.1/ConexionWeb/Connected Services/ConexionWebService/ControlDeCalidadServicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ControlDeCalidadServicio?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" />
  <xs:element name="LogearUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cuenta" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogearUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="LogearUsuarioResult" nillable="true" type="q1:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSupervisoresDeCalidadDisponibles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSupervisoresDeCalidadDisponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="ObtenerSupervisoresDeCalidadDisponiblesResult" nillable="true" type="q2:ArrayOfUsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="nuevoUsuario" nillable="true" type="q3:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="colorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarColorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="nuevoColor" nillable="true" type="q4:ColorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarColorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="actualizacion" nillable="true" type="q5:ColorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarColorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerColoresActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerColoresActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="ObtenerColoresActivosResult" nillable="true" type="q6:ArrayOfColorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarColoresPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarColoresPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="BuscarColoresPorCodigoResult" nillable="true" type="q7:ArrayOfColorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarColoresPorDescripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cadena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarColoresPorDescripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="BuscarColoresPorDescripcionResult" nillable="true" type="q8:ArrayOfColorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerModelosActivos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerModelosActivosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="ObtenerModelosActivosResult" nillable="true" type="q9:ArrayOfModeloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarModelosPorSKU">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarModelosPorSKUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="BuscarModelosPorSKUResult" nillable="true" type="q10:ArrayOfModeloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarModelosPorDescripcion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cadena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarModelosPorDescripcionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="BuscarModelosPorDescripcionResult" nillable="true" type="q11:ArrayOfModeloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modeloID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarModeloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="modelo" nillable="true" type="q12:ModeloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarModeloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="modelo" nillable="true" type="q13:ModeloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarModeloResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="op" nillable="true" type="q14:OrdenDeProduccionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearOPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearOPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
        <xs:element minOccurs="0" name="opId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActivarOPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActivarOPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
        <xs:element minOccurs="0" name="opId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarOPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinalizarOPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PausarOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
        <xs:element minOccurs="0" name="opId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PausarOPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PausarOPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarSupervisorDeCalidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
        <xs:element minOccurs="0" name="opId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarSupervisorDeCalidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsociarSupervisorDeCalidadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesasociarSupervisorDeCalidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioId" type="xs:int" />
        <xs:element minOccurs="0" name="opId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesasociarSupervisorDeCalidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesasociarSupervisorDeCalidadResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOPActualSupervisorDeCalidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supervisorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOPActualSupervisorDeCalidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="BuscarOPActualSupervisorDeCalidadResult" nillable="true" type="q15:OrdenDeProduccionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLineasDeTrabajo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLineasDeTrabajoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="ObtenerLineasDeTrabajoResult" nillable="true" type="q16:ArrayOfLineaDeTrabajoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLineasDeTrabajoDisponibles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerLineasDeTrabajoDisponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="ObtenerLineasDeTrabajoDisponiblesResult" nillable="true" type="q17:ArrayOfLineaDeTrabajoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarLineaDetrabajo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="lineaNueva" nillable="true" type="q18:LineaDeTrabajoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarLineaDetrabajoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarLineaDetrabajoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarLineaDetrabajo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="actual" nillable="true" type="q19:LineaDeTrabajoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarLineaDetrabajoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarLineaDetrabajoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarLineaDetrabajo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lineaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarLineaDetrabajoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarLineaDetrabajoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJornada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="supervisorId" type="xs:int" />
        <xs:element minOccurs="0" name="opId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerJornadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="ObtenerJornadaResult" nillable="true" type="q20:JornadaLaboralDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarJornada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jornadaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarJornadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinalizarJornadaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarIncidecia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="nuevaIncidencia" nillable="true" type="q21:IncidenciaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertarIncideciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertarIncideciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDefectosDeReproceso">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDefectosDeReprocesoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="ObtenerDefectosDeReprocesoResult" nillable="true" type="q22:ArrayOfDefectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDefectosDeObservados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDefectosDeObservadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="ObtenerDefectosDeObservadosResult" nillable="true" type="q23:ArrayOfDefectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarDefecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="defectoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SeleccionarDefectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Aplicacion.DTOs" minOccurs="0" name="SeleccionarDefectoResult" nillable="true" type="q24:DefectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>